{% extends "app/base.html" %}

{% block content %}
<main>
    <div class="form-block">
        <form action="{% url "create_obj" %}" method="post" class="form-create-obj">
            {% csrf_token %}
            <h3 class="h3-for-form">Создание задачи</h3>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Название</span>
                {{ form.name }}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Задача</span>
                {{ form.objective }}
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="{{ form.value.id_for_label }}">Options</label>
                {{ form.value }}
            </div>
            <div class="submit-btn">
                <button type="submit" class="btn btn-primary btn-lg">Создать задачу</button>
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}